@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
    font-family: "Noe Display Bold";
    src: url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.eot");
    src: url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.svg#Noe Display Bold")
            format("svg");
}

@font-face {
    font-family: "Menlo";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Menlo.woff") format("woff");
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: "Noe Display Medium" !important; */
    background-color: #0b0e11 !important;
    --chakra-fonts-heading: "Inter" !important;
    --chakra-fonts-body: "Inter" !important;
}

*:focus {
    outline: 0 !important;
    border: 0;
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.content .chakra-link {
    font-family: "Menlo" !important;
}

* {
    box-sizing: border-box;
}

code {
    font-family: "Menlo", monospace !important;
    border: none;
    box-shadow: none;
    padding: 0px 10px !important;
    margin: 5px;
    width: 100%;
    /* background-color: #242c37 !important; */
}

pre {
    border-radius: 0.2rem !important;
}

.chakra-code {
    background-color: inherit !important;
    margin-left: -10px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

*:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.pfr {
    font-family: "Cuprum";
    font-weight: 800;
}

a {
    color: #4299e1 !important;
}

.inline-code {
    font-family: "Menlo", monospace !important;
    background-color: #1e293b;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 93%;
}
