@import url("https://rsms.me/inter/inter.css");
@font-face {
    font-family: "Noe Display Bold";
    src: url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.eot");
    src: url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.woff") format("woff"), url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.svg#Noe Display Bold") format("svg");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Noe Display Medium" !important;
    background-color: #0b0e11 !important;
}

*:focus {
    outline: 0 !important;
    border: 0;
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

code {
    font-family: "Menlo", monospace !important;
    border: none;
    box-shadow: none;
    padding: 0px 10px !important;
    margin: 5px;
    width: 100%;
    border-radius: 1rem !important;
    /* background-color: #242c37 !important; */
}